<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="row">
				<div class="col-md-10 error" *ngIf="vms.status == 'error'">
					<i class="fa fa-exclamation-circle"></i>  {{vms.statusText}}
				</div>
				<div class="col-md-10 success" *ngIf="vms.status == 'success'">
					<i class="fa fa-check-circle"></i>  {{vms.statusText}}
				</div>
				<div class="col-md-2">
					<i class="fa fa-ellipsis-h"></i>
				</div>
			</div>
			<div class="card-body">
				<h3 class="card-title">{{vms.name}}</h3>
				<small>{{vms.desc}}</small>
				<p class="card-text">{{vms.path}}</p>
				<div class="row">
					<div class="col-md-6">
						<h5 class="card-title">VMs</h5>
						{{vms.vms}}
					</div>
					<div class="col-md-6">
						<h5 class="error">Error</h5>
						{{vms.error}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>